<form>
    <div class="form-group">
        <label for="title">Titulo:</label>
        <input type="text" placeholder="Coloque um Titulo" required>
    </div>
    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea placeholder="O que aconteceu lá?" required></textarea>
    </div>
    <div class="form-group">
        <label for="image">Coloque a for que mais marcou:</label>
        <input type="file">
    </div>
    <input type="submit" value="{{ btnText }}">
</form>
