<div class="home-conteiner">
    <h1>Veja o que estão compartilhando</h1>
    <!--form de busca-->
  
        <div class="moments-conteiner">
            <div *ngFor="let moment of moments" class="moments">
                <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
                <h3>{{moment.title}}</h3>
                <p class="date">Em: {{moment.created_ad}}</p>
                <p>Comentários: {{moment.coments!}}</p>
                <p><a routerLink="moments/{{moment.id}}">Detalhes</a></p>
            </div>
        </div>
    
</div>
